<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
    body
     main
      h1 #{title}
      ul 
          each item in resultados
            li
              a(href="/detalle/"+item.imdbID)= item.Title
              img(src= item.Poster, alt="Poster de la pelicula" + item.Title)
             
     