<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title search - UpgradeFlix
    body 
      main
        article
            h1 Busqueda de pelicula
            form(action="/search", method="post")
                input(type="text", name="busqueda")
                button Buscar

